{% extends 'layout/layout.html.twig' %}

{% block body %}

    <h1>My Library</h1>

    {% if user is empty %}
        <a href="btn btn-primary">Créer un compte</a>
    {% endif %}

    <div class="row">

        <div class="col-md-12">
            <h2>Authors <a href="{{ url('author_create') }}"><span class="btn btn-primary">+</span></a></h2>

            <p class="text-small">Quantity : {{ authors|length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.getId() }}</td>
                        <td>{{ author.getFirstname() }}</td>
                        <td>{{ author.getLastname() }}</td>
                        <td>{{ author.getNationality() }}</td>
                        <td><a href="{{ url('author_edit',{id: author.getId()}) }}">edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        <div class="col-md-12">
            <h2>Books <a href="{{ url('book_create') }}"><span class="btn btn-primary">+</span></a></h2>

            <p class="text-small">Quantity : {{ authors|length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Cover Picture</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                    <tr>
                        <td>{{ book.getId() }}</td>
                        <td>{{ book.getTitle() }}</td>
                        <td>
                            {% set author = book.getAuthor() %}

                            <a href="{{ url('author_edit', {id:author.getId()}) }}">{{ author.getFirstname() }} {{ author.getLastname() }}</a>
                        </td>
                        <td>{{ book.getCoverPicture() }}</td>
                        <td>{{ book.getIsbn() }}</td>
                        <td></td>
                        <td>
                            {% for tag in book.getTagsArray() %}
                                <span class="badge badge-info">{{ tag }}</span>
                            {% endfor %}
                        </td>
                        <td><a href="{{ url('book_edit',{id: book.getId()}) }}">edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

{% endblock %}