{% extends 'layout/layout.html.twig' %}

{% block body %}

    <h1>My Library</h1>

    <div class="row">

        <div class="col-md-12">
            <h2>Create an account</h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <a href="{{ url('home') }}" class="btn btn-cancel">Cancel</a>

            {% if errorString is not empty %}

            <div class="errors">

                <p class="alert alert-danger">
                    {{ errorString }}
                </p>
            </div>

            {% endif %}

        </p>

    </div>

{% endblock %}