{% extends 'layout/layout.html.twig' %}

{% block body %}

    {% if bookId is defined and bookId is not empty %}
        <h1>Edit Book</h1>
    {% else %}
        <h1>Create Book</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ url('home') }}" class="btn btn-cancel">Cancel</a>

{% endblock %}