{% extends 'layout/layout.html.twig' %}

{% block body %}

    {% if authorId is defined and authorId is not empty %}
        <h1>Edit Author</h1>
    {% else %}
        <h1>Create Author</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ url('home') }}" class="btn btn-cancel">Cancel</a>

{% endblock %}